*~
*#
*.swp
*.swo
.idea
.vscode

/bin/
/include/
/lib/
/lib64/
/python/
/build/
/data/
/offline/
/include/
/lib64/
yarr_version.h
analogHits_analogHits.png
configs/fei4b_test.json
configs/rd53a_test.json
doxygen
