# YARR Codeowners file to steer MR approval

/cmake/ @bgallop @wittgen @theim
/configs/ @bgallop @ztao @mamirono @rquinn @theim
/docker/ @bgallop @wittgen @theim
/docs/ @bgallop @ztao @mamirono @theim @rquinn @arastogi
/scripts/ @bgallop @wittgen @theim

/src/libBdaq/ @wlkakhi
/src/libEmu/ @bgallop @rquinn @ztao
/src/libFei4/ @mamirono @theim
/src/libFei4Emu/ @mamirono @theim
/src/libFelixClient/ @arastogi @bgallop @rquinn @ztao 
/src/libItkpixv2/ @mamirono @theim
/src/libItkpixv2Emu/ @theim
/src/libItsdaqFW/ @bgallop
/src/libNetioHW @ztao @arastogi @rquinn @bgallop
/src/libRd53a/ @mamirono @theim
/src/libRd53aEmu/ @mamirono @theim
/src/libRd53b/ @mamirono @theim
/src/libSpec/ @mamirono @theim
/src/libStar/ @bgallop @ztao @rquinn
/src/libStarEmu/ @ztao @bgallop @rquinn
/src/libUtil/ @bgallop @wittgen @theim
/src/libYarr/ @bgallop @theim
/src/python/ @wittgen @bgallop @theim
/src/tools/ @bgallop @mamirono @rquinn @theim @ztao @arastogi
