# YARR Codeowners file to steer MR approval

/cmake/ @bgallop @theim @arummler
/configs/ @bgallop @rquinn @theim @dfellers
/docker/ @bgallop @wittgen @theim
/docs/ @bgallop @rquinn @theim @dfellers @lmeng
/scripts/ @bgallop @theim 

/src/libBdaq/ @wlkakhi
/src/libEmu/ @bgallop @rquinn
/src/libFei4/ @theim
/src/libFei4Emu/ @theim
/src/libFelixClient/ @bgallop @rquinn @dfellers
/src/libItkpixv2/ @theim @dfellers
/src/libItkpixv2Emu/ @theim @dfellers
/src/libItsdaqFW/ @bgallop
/src/libNetioHW @rquinn @bgallop @dfellers
/src/libRd53a/ @theim
/src/libRd53aEmu/ @theim
/src/libRd53b/ @dfellers @theim
/src/libSpec/ @dfellers @theim
/src/libStar/ @bgallop @rquinn
/src/libStarEmu/ @bgallop @rquinn
/src/libUtil/ @bgallop @theim
/src/libYarr/ @bgallop @theim
/src/python/ @bgallop @theim
/src/tools/ @bgallop @dfellers @rquinn @theim
