
#----------------------------------------
# FMC slot - YARR FE-I4 RJ45 Style board
#----------------------------------------
NET "FE_CLK_P[4]" LOC = T15; # LA25_P, C4P bzw. A5P
NET "FE_CLK_P[4]" IOSTANDARD = "LVDS_25";
NET "FE_CLK_N[4]" LOC = U15; # LA25_N, C4N bzw. A5N
NET "FE_CLK_N[4]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_P[4]" LOC = Y17; # LA26_P, C4P bzw. A5P
NET "FE_CMD_P[4]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_N[4]" LOC = AB17; # LA26_N, C4N bzw. A5N
NET "FE_CMD_N[4]" IOSTANDARD = "LVDS_25";

NET "FE_CLK_P[5]" LOC = AA18; # LA27_P, C3P bzw. A6P
NET "FE_CLK_P[5]" IOSTANDARD = "LVDS_25";
NET "FE_CLK_N[5]" LOC = AB18; # LA27_N, C3N bzw. A6N
NET "FE_CLK_N[5]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_P[5]" LOC = Y16; # LA28_P, C3P bzw. A6P
NET "FE_CMD_P[5]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_N[5]" LOC = W15; # LA28_N, C3N bzw. A6N
NET "FE_CMD_N[5]" IOSTANDARD = "LVDS_25";

NET "FE_CLK_P[6]" LOC = W17; # LA29_P, C2P bzw. A7P
NET "FE_CLK_P[6]" IOSTANDARD = "LVDS_25";
NET "FE_CLK_N[6]" LOC = Y18; # LA29_N, C2N bzw. A7N
NET "FE_CLK_N[6]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_P[6]" LOC = V17; # LA30_P, C2P bzw. A7P
NET "FE_CMD_P[6]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_N[6]" LOC = W18; # LA30_N, C2N bzw. A7N
NET "FE_CMD_N[6]" IOSTANDARD = "LVDS_25";

NET "FE_CLK_P[7]" LOC = D17; # LA31_P, C1P bzw. A8P
NET "FE_CLK_P[7]" IOSTANDARD = "LVDS_25";
NET "FE_CLK_N[7]" LOC = C18; # LA31_N, C1N bzw. A8N
NET "FE_CLK_N[7]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_P[7]" LOC = B20; # LA32_P, C1P bzw. A8P
NET "FE_CMD_P[7]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_N[7]" LOC = A20; # LA32_N, C1N bzw. A8N
NET "FE_CMD_N[7]" IOSTANDARD = "LVDS_25";

NET "FE_CLK_P[3]" LOC = AA16; # LA23_P, C5P bzw. A4P
NET "FE_CLK_P[3]" IOSTANDARD = "LVDS_25";
NET "FE_CLK_N[3]" LOC = AB16; # LA23_N, C5N bzw. A4N
NET "FE_CLK_N[3]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_P[3]" LOC = W14; # LA24_P, C5P bzw. A4P
NET "FE_CMD_P[3]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_N[3]" LOC = Y14; # LA24_N, C5N bzw. A4N
NET "FE_CMD_N[3]" IOSTANDARD = "LVDS_25";

NET "FE_CLK_P[2]" LOC = V13; # LA21_P, C6P bzw. A3P
NET "FE_CLK_P[2]" IOSTANDARD = "LVDS_25";
NET "FE_CLK_N[2]" LOC = W13; # LA21_N, C6N bzw. A3N
NET "FE_CLK_N[2]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_P[2]" LOC = R13; # LA22_P, C6P bzw. A3P
NET "FE_CMD_P[2]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_N[2]" LOC = T14; # LA22_N, C6N bzw. A3N
NET "FE_CMD_N[2]" IOSTANDARD = "LVDS_25";

NET "FE_CLK_P[1]" LOC = Y15; # LA19_P, C7P bzw. A2P
NET "FE_CLK_P[1]" IOSTANDARD = "LVDS_25";
NET "FE_CLK_N[1]" LOC = AB15; # LA19_N, C7N bzw. A2N
NET "FE_CLK_N[1]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_N[1]" LOC = T11; # LA20_N, C7N bzw. A2N
NET "FE_CMD_N[1]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_P[1]" LOC = R11; # LA20_P, C7P bzw. A2P
NET "FE_CMD_P[1]" IOSTANDARD = "LVDS_25";

NET "FE_CLK_P[0]" LOC = Y13; # LA17_P, C8P bzw. A1P
NET "FE_CLK_P[0]" IOSTANDARD = "LVDS_25";
NET "FE_CLK_N[0]" LOC = AB13; # LA17_N, C8N bzw. A1N
NET "FE_CLK_N[0]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_P[0]" LOC = T12; # LA18_P, C8P bzw. A1P
NET "FE_CMD_P[0]" IOSTANDARD = "LVDS_25";
NET "FE_CMD_N[0]" LOC = U12; # LA18_N, C8N bzw. A1N
NET "FE_CMD_N[0]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[6]" LOC = U9; # LA07_P, C5 bzw. A4
NET "FE_DATA_P[6]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[6]" LOC = V9; # LA07_N, C5 bzw. A4
NET "FE_DATA_N[6]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[7]" LOC = R9; # LA08_P, C5 bzw. A4
NET "FE_DATA_P[7]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[7]" LOC = R8; # LA08_N, C5 bzw. A4
NET "FE_DATA_N[7]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[3]" LOC = T8; # LA04_P, C7 bzw. A2
NET "FE_DATA_P[3]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[3]" LOC = U8; # LA04_N, C7 bzw. A2
NET "FE_DATA_N[3]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[2]" LOC = V7; # LA03_P, C7 bzw. A2
NET "FE_DATA_P[2]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[2]" LOC = W8; # LA03_N, C7 bzw. A2
NET "FE_DATA_N[2]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[4]" LOC = AA6; # LA05_P, C6 bzw. A3
NET "FE_DATA_P[4]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[4]" LOC = AB6; # LA05_N, C6 bzw. A3
NET "FE_DATA_N[4]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[5]" LOC = Y5; # LA06_P, C6 bzw. A3
NET "FE_DATA_P[5]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[5]" LOC = AB5; # LA06_N, C6 bw. A3
NET "FE_DATA_N[5]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[1]" LOC = W6; # LA02_P, C8 bzw. A1
NET "FE_DATA_P[1]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[1]" LOC = Y6; # LA02_N, C8 bzw. A1
NET "FE_DATA_N[1]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[0]" LOC = AA12; # LA01_P, C8 bzw. A1
NET "FE_DATA_P[0]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[0]" LOC = AB12; # LA01_N, C8 bzw. A1
NET "FE_DATA_N[0]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[8]" LOC = Y7; # LA09_P, C4 bzw. A5
NET "FE_DATA_P[8]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[8]" LOC = AB7; # LA09_N, C4 bzw. A5
NET "FE_DATA_N[8]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[9]" LOC = AA8; # LA10_P, C4 bzw. A5
NET "FE_DATA_P[9]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[9]" LOC = AB8; # LA10_N, C4 bw. A5
NET "FE_DATA_N[9]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[10]" LOC = W10; # LA11_P, C3 bzw. A6
NET "FE_DATA_P[10]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[10]" LOC = Y10; # LA11_N, C3 bzw. A6
NET "FE_DATA_N[10]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[11]" LOC = T10; # LA12_P, C3 bzw. A6
NET "FE_DATA_P[11]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[11]" LOC = U10; # LA12_N, C3 bzw. A6
NET "FE_DATA_N[11]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[12]" LOC = Y9; # LA13_P, C2 bzw. A7
NET "FE_DATA_P[12]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[12]" LOC = AB9; # LA13_N, C2 bzw. A7
NET "FE_DATA_N[12]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[13]" LOC = AA4; # LA14_P, C2 bzw. A7
NET "FE_DATA_P[13]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[13]" LOC = AB4; # LA14_N, C2 bw. A7
NET "FE_DATA_N[13]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[14]" LOC = V11; # LA15_P, C1 bzw. A8
NET "FE_DATA_P[14]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[14]" LOC = W11; # LA15_N, C1 bzw. A8
NET "FE_DATA_N[14]" IOSTANDARD = "LVDS_25";

NET "FE_DATA_P[15]" LOC = W12; # LA16_P, C1 bzw. A8
NET "FE_DATA_P[15]" IOSTANDARD = "LVDS_25";
NET "FE_DATA_N[15]" LOC = Y12; # LA16_N, C1 bzw. A8
NET "FE_DATA_N[15]" IOSTANDARD = "LVDS_25";
